:root {
    --bs-primary: #004ca9 !important;
    --bs-primary-rgb: 0, 76, 169 !important;
}

body {
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.btn {
    cursor: pointer;
}

.btn-primary {
    background-color: var(--bs-primary);
    color: #fff;
    border: 1px solid var(--bs-primary);
}

.btn-outline-primary:hover {
    background-color: var(--bs-primary);
    border: 1px solid #003c8f;
}

a {
    text-decoration: none;
    color: var(--bs-primary);
}